<mat-toolbar color="primary">
  <span>Booking List</span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" (click)="logout()">Logout</button>
  <button mat-flat-button color="primary" (click)="openDialog()">
    Add Booking
  </button>
</mat-toolbar>

<div class="container">
  <mat-table [dataSource]="bookings" class="mat-elevation-z8">
    <ng-container matColumnDef="bookingDate">
      <mat-header-cell *matHeaderCellDef> Booking Date </mat-header-cell>
      <mat-cell *matCellDef="let booking">
        {{ booking.bookingDate | date }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookingType">
      <mat-header-cell *matHeaderCellDef> Booking Type </mat-header-cell>
      <mat-cell *matCellDef="let booking"> {{ booking.bookingType }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookingSlot">
      <mat-header-cell *matHeaderCellDef> Booking Slot </mat-header-cell>
      <mat-cell *matCellDef="let booking">
        {{ booking.bookingSlot || "N/A" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookingFromTime">
      <mat-header-cell *matHeaderCellDef> Booking From </mat-header-cell>
      <mat-cell *matCellDef="let booking">
        {{ getTimeFromDate(booking.bookingFromTime) || "N/A" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookingToTime">
      <mat-header-cell *matHeaderCellDef> Booking To </mat-header-cell>
      <mat-cell *matCellDef="let booking">
        {{ getTimeFromDate(booking.bookingToTime) || "N/A" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let booking">
        <button
          color="warn"
          mat-icon-button
          (click)="deleteBooking(booking._id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
