/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spacer {
  flex: 1 1 auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 40vw;
  margin: 2em auto;
  text-align: center;
}

.timepicker-backdrop-overlay {
  z-index: 10000 !important;
}

.timepicker-overlay {
  z-index: 10010 !important;
}
